.nav-link {
	transition: all 0.3s ease;
  }
  
  .nav-link:hover {
	color: #ffd700 !important;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-item {
	transition: all 0.3s ease;
  }
  
  .dropdown-item:hover {
	color: #ffd700 !important;
	background-color: rgba(255, 255, 255, 0.1);
  }
  