.preloader {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full screen height */
    background-color: #f0f0f0; /* Background color */
    position: fixed; /* Ensure it stays fixed on the screen */
    top: 0; /* Align at the top of the page */
    left: 0; /* Align at the left of the page */
    width: 100%; /* Take up full width */
    z-index: 9999; /* Ensure it is on top of other content */
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
